altair
asttokens
attrs
blinker
Bottleneck
Brotli
brotlicffi
cachetools
cattrs==25.1.1
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
entrypoints
exceptiongroup
executing
fonttools
gitdb
GitPython
idna==3.10
importlib_metadata
inflect==7.5.0
ipykernel
ipython
jedi
Jinja2
joblib==1.5.1
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
more-itertools==10.7.0
mplsoccer==1.5.0
narwhals==1.44.0
nest_asyncio
numexpr
numpy==2.0.1
packaging
pandas==2.2.3
parso
pickleshare
pillow
platformdirs
plotly==6.2.0
prompt_toolkit
protobuf==5.29.3
psutil
pure_eval
pyarrow
pycparser
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests
requests-cache==1.2.1
rpds-py
scipy==1.15.3
seaborn
sip
six
smmap
stack_data
statsbombpy==1.16.0
streamlit
tenacity
toml
tomli
toolz
tornado
traitlets
typeguard==4.4.4
typing_extensions
tzdata
unicodedata2
url-normalize==2.2.1
urllib3
watchdog
wcwidth
win-inet-pton
zipp
